.container {
  display: grid;
  place-items: end;
  width: 30em;
  border-radius: 1em;

}


img {
  grid-area:1/1;

  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;

}

.text-container {
  grid-area:1/1;

  order:1; 

  height: max-content;
  width: 100%;
  background: rgba(85, 82, 104, 0.711);
  color: white;
  font-size: large;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
    background: linear-gradient(to top, rgba(229, 9, 9, 0.7), transparent);
}

.text-container * {
  margin: 0.5em;
}

body {
  display: grid;
  place-content: center;

  height: 80vh;
  background: black;
  color: white;
}
